.sidebar {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: hidden;

  @include vp-600 {
    padding-left: 6px;
    padding-right: 16px;
  }

  @include vp-450 {
    display: none;
  }

  &_logo {
    img {
      @include vp-600 {
        width: 100%;
      }
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    padding-left: 10px;
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &_item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #1d1e21;

    @include vp-600 {
      display: none;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8f98a6;
    margin-top: auto;
    padding-left: 10px;

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      line-height: 123%;
      letter-spacing: 0.02em;
    }

    @include vp-600 {
      display: none;
    }
  }

  &_notifiCount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #1879ff;
    border-radius: 50%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #ffffff;
    margin-left: auto;
  }
}
